.outer-container {
    border-top: 30px solid black;
    background-color: tan;
    padding: 20px;
}

.text-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: tan;
    position: center;
    padding: 2px 40px;
    max-width: 400px;
    max-height: 400px;
};






span {
    font-size: 4.2rem;
    font-family: 'Dancing Script', cursive;
}



a {
    color: white;
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
